[{:itonami.blueprint/social-impact [:worker-safety :local-jobs :housing-quality], :itonami.blueprint/domain :trades/building-frame-crew-coordination, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "7119", :itonami.blueprint/name "Framing Crew Scheduling and Logistics Coordination", :itonami.blueprint/governor :framing-crew-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7119", :itonami.blueprint/license "AGPL-3.0-or-later"}]
